<%- include('header.ejs') %>
  <h2 id="headerpro"> All Blogs: </h2>

  <% blog.forEach(function(bloge) { %>


    <div id="Projects">
      <article id="project1">
        <a href="/post/<%= bloge._id %>">
          <h2>
            <%= bloge.title %>
          </h2>
        </a>
        <p>
          <%= bloge.body %>
        </p>
        <h6>Created on: <%= bloge.createdAt.toDateString() %>
        </h6>

        <a href="/post/<%= bloge._id %>" class="btn btn-success">View</a>

        <a href="/edit-post/<%= bloge._id %>" class="btn btn-warning">Edit</a>


        <form action="/delete-post/<%= bloge._id %>?_method=DELETE" method="POST" style="display: inline;"">
        <button type=" submit" class="btn btn-danger">Delete</button>
        </form>


      </article>
    </div>

    <% }) %>




      <%- include('footer.ejs') %>